<h1>Tarcísio Gruppi</h1>
{{if .}}
  <ul>
    {{range .}}
      <li>
        <a href="{{if .SafeUrl}}{{.SafeUrl}}{{else}}{{.Url}}{{end}}" title="{{.Title}}">
          <img src="{{.Image}}" alt="{{.Title}}">
        </a>
      </li>
    {{end}}
  </ul>
{{end}}
<p>Served by <a href="http://martini.codegangsta.io/" title="martini">martini</a><br/>Icons by <a href="http://simpleicons.org/">Simple Icons</a><br/>Background by <a href="http://subtlepatterns.com/">Subtle Patterns</a></p>
